In [3]:
import pandas as pd
from scipy import stats
import researchpy as rp
import statsmodels.api as sm
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv(r"C:\Users\Koti\Downloads\Data-sets-master\Data-sets-master\difficile.csv")

In [5]:
df.shape

(15, 3)

In [6]:
df.head()

   person  dose  libido
0       1     1       3
1       2     1       2
2       3     1       1
3       4     1       1
4       5     1       4

In [9]:
rp.summary_cat(df["dose"])

  Variable  Outcome  Count  Percent
0     dose        3      5    33.33
1                 2      5    33.33
2                 1      5    33.33

In [10]:
df["dose"].replace({1:"placebo",2:"low",3:"high"},inplace=True)

In [11]:
rp.summary_cat(df["dose"])

  Variable  Outcome  Count  Percent
0     dose     high      5    33.33
1           placebo      5    33.33
2               low      5    33.33

In [12]:
rp.summary_cont(df["libido"])

  Variable     N      Mean       SD        SE  95% Conf.  Interval
0   libido  15.0  3.466667  1.76743  0.456349   2.487896  4.445437

In [14]:
rp.summary_cont(df["libido"].groupby(df["dose"]))

         N  Mean        SD        SE  95% Conf.  Interval
dose
high     5   5.0  1.581139  0.707107   3.450484  6.549516
low      5   3.2  1.303840  0.583095   1.922236  4.477764
placebo  5   2.2  1.303840  0.583095   0.922236  3.477764

In [17]:
a=df[df["dose"]=="high"]
b=df[df["dose"]=="low"]
c=df[df["dose"]=="placebo"]

In [18]:
stats.f_oneway(a["libido"],b["libido"],c["libido"])

F_onewayResult(statistic=5.11864406779661, pvalue=0.024694289538222603)

In [19]:
bank=pd.read_csv(r"C:\ksr\data science\DS_batch1\datasets\bank_market.csv")

In [20]:
bank.shape

(45211, 18)

In [21]:
bank["marital"].value_counts()

married     27214
single      12790
divorced     5207
Name: marital, dtype: int64

In [22]:
a=bank[bank["marital"]=="married"]
b=bank[bank["marital"]=="single"]
c=bank[bank["marital"]=="divorced"]

In [23]:
bank.head()

   Cust_num  age           job  marital  education default  ...  duration campaign pdays previous  poutcome   y
0         1   58    management  married   tertiary      no  ...       261        1    -1        0   unknown  no
1         2   44    technician   single  secondary      no  ...       151        1    -1        0   unknown  no
2         3   33  entrepreneur  married  secondary      no  ...        76        1    -1        0   unknown  no
3         4   47   blue-collar  married    unknown      no  ...        92        1    -1        0   unknown  no
4         5   33       unknown   single    unknown      no  ...       198        1    -1        0   unknown  no

[5 rows x 18 columns]

In [28]:
rp.summary_cont(bank["balance"].groupby(bank["marital"]))

              N         Mean           SD         SE    95% Conf.     Interval
marital
divorced   5207  1178.872287  2926.453439  40.555320  1099.376227  1258.368348
married   27214  1425.925590  3140.962597  19.039984  1388.606536  1463.244644
single    12790  1301.497654  2875.317791  25.424392  1251.663898  1351.331411

In [30]:
stats.f_oneway(a["balance"],b["balance"],c["balance"])

F_onewayResult(statistic=17.954318144453257, pvalue=1.6055869132631893e-08)

In [31]:
results=ols("libido~C(dose)",data=df).fit()
results.summary()

C:\Users\Koti\anaconda3\lib\site-packages\scipy\stats\stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=15
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 libido   R-squared:                       0.460
Model:                            OLS   Adj. R-squared:                  0.370
Method:                 Least Squares   F-statistic:                     5.119
Date:                Wed, 06 May 2020   Prob (F-statistic):             0.0247
Time:                        06:31:32   Log-Likelihood:                -24.683
No. Observations:                  15   AIC:                             55.37
Df Residuals:                      12   BIC:                             57.49
Df Model:                           2
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept              5.0000      0.627      7.972      0.000       3.634       6.366
C(dose)[T.low]        -1.8000      0.887     -2.029      0.065      -3.732       0.132
C(dose)[T.placebo]    -2.8000      0.887     -3.157      0.008      -4.732      -0.868
==============================================================================
Omnibus:                        2.517   Durbin-Watson:                   2.408
Prob(Omnibus):                  0.284   Jarque-Bera (JB):                1.108
Skew:                           0.195   Prob(JB):                        0.575
Kurtosis:                       1.727   Cond. No.                         3.73
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [32]:
aov_table=sm.stats.anova_lm(results,type=2)
aov_table

            df     sum_sq    mean_sq         F    PR(>F)
C(dose)    2.0  20.133333  10.066667  5.118644  0.024694
Residual  12.0  23.600000   1.966667       NaN       NaN

In [33]:
bank.head()

   Cust_num  age           job  marital  education default  ...  duration campaign pdays previous  poutcome   y
0         1   58    management  married   tertiary      no  ...       261        1    -1        0   unknown  no
1         2   44    technician   single  secondary      no  ...       151        1    -1        0   unknown  no
2         3   33  entrepreneur  married  secondary      no  ...        76        1    -1        0   unknown  no
3         4   47   blue-collar  married    unknown      no  ...        92        1    -1        0   unknown  no
4         5   33       unknown   single    unknown      no  ...       198        1    -1        0   unknown  no

[5 rows x 18 columns]

In [34]:
bank["marital"].value_counts()

married     27214
single      12790
divorced     5207
Name: marital, dtype: int64

In [35]:
results=ols("balance~C(marital)",data=bank).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                balance   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     17.95
Date:                Wed, 06 May 2020   Prob (F-statistic):           1.61e-08
Time:                        06:46:38   Log-Likelihood:            -4.2678e+05
No. Observations:               45211   AIC:                         8.536e+05
Df Residuals:                   45208   BIC:                         8.536e+05
Df Model:                           2
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept              1178.8723     42.179     27.949      0.000    1096.201    1261.544
C(marital)[T.married]   247.0533     46.038      5.366      0.000     156.819     337.288
C(marital)[T.single]    122.6254     50.034      2.451      0.014      24.559     220.692
==============================================================================
Omnibus:                    64715.946   Durbin-Watson:                   1.920
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         37924033.488
Skew:                           8.364   Prob(JB):                         0.00
Kurtosis:                     143.897   Cond. No.                         6.42
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [36]:
aov_table=sm.stats.anova_lm(results,type=2)
aov_table

                 df        sum_sq       mean_sq          F        PR(>F)
C(marital)      2.0  3.326451e+08  1.663225e+08  17.954318  1.605587e-08
Residual    45208.0  4.187911e+11  9.263651e+06        NaN           NaN

In [37]:
results.diagn

{'jb': 37924033.48781587,
 'jbpv': 0.0,
 'skew': 8.364162686684365,
 'kurtosis': 143.8968372903576,
 'omni': 64715.94601975288,
 'omnipv': 0.0,
 'condno': 6.420612166860503,
 'mineigval': 1622.762693127971}

In [38]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

In [39]:
mc=MultiComparison(df["libido"],df["dose"])
mc_results=mc.tukeyhsd()
print(mc_results)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1  group2 meandiff p-adj   lower   upper  reject
-----------------------------------------------------
  high     low     -1.8 0.1472 -4.1651  0.5651  False
  high placebo     -2.8 0.0209 -5.1651 -0.4349   True
   low placebo     -1.0 0.5171 -3.3651  1.3651  False
-----------------------------------------------------

In [40]:
mc=MultiComparison(bank["balance"],bank["marital"])
mc_results=mc.tukeyhsd()
print(mc_results)

    Multiple Comparison of Means - Tukey HSD, FWER=0.05
===========================================================
 group1   group2  meandiff p-adj    lower    upper   reject
-----------------------------------------------------------
divorced married  247.0533  0.001  139.1508 354.9558   True
divorced  single  122.6254 0.0379    5.3574 239.8933   True
 married  single -124.4279  0.001 -200.9045 -47.9513   True
-----------------------------------------------------------