In [1]:
import numpy as np
import pandas as pd

In [2]:
credit=pd.read_csv("C:\\Users\\Koti\\Downloads\\creditcardfraud\\creditcard.csv")

In [3]:
credit.shape

(284807, 8)

In [4]:
credit.head(2)

   Time        V1        V2        V3        V4        V5  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  149.62      0
1   0.0  1.191857  0.266151  0.166480  0.448154  0.060018    2.69      0

In [5]:
credit["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [6]:
import researchpy as rp

In [7]:
rp.summary_cat(credit["Class"])

  Variable  Outcome   Count  Percent
0    Class        0  284315    99.83
1                 1     492     0.17

In [8]:
credit.head()

   Time        V1        V2        V3        V4        V5  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  149.62      0
1   0.0  1.191857  0.266151  0.166480  0.448154  0.060018    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  0.379780 -0.503198  378.66      0
3   1.0 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  123.50      0
4   2.0 -1.158233  0.877737  1.548718  0.403034 -0.407193   69.99      0

In [9]:
credit.drop(["Time"],axis=1,inplace=True)

In [10]:
credit.head(2)

         V1        V2        V3        V4        V5  Amount  Class
0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  149.62      0
1  1.191857  0.266151  0.166480  0.448154  0.060018    2.69      0

In [12]:
from sklearn.model_selection import train_test_split
train,test=train_test_split(credit,test_size=0.2,random_state=0)
print(train.shape,test.shape)

(227845, 7) (56962, 7)

In [13]:
x_train=train.drop(["Class"],axis=1)
y_train=train["Class"]
x_test=test.drop(["Class"],axis=1)
y_test=test["Class"]

In [14]:
from sklearn.linear_model import LogisticRegression
lg=LogisticRegression(solver="liblinear")
lg.fit(x_train,y_train)

LogisticRegression(solver='liblinear')

In [15]:
lg.score(x_train,y_train)

0.9987272048980667

In [16]:
pred=lg.predict(x_train)

In [17]:
np.unique(pred)

array([0, 1], dtype=int64)

In [19]:
pd.crosstab(train["Class"],pred)

col_0       0    1
Class
0      227420   34
1         256  135

In [20]:
from sklearn.metrics import precision_score

In [21]:
precision_score(train["Class"],pred)

0.7988165680473372

In [22]:
135/(135+34)

0.7988165680473372

In [23]:
from sklearn.metrics import recall_score

In [24]:
recall_score(train["Class"],pred)

0.3452685421994885

In [25]:
135/(135+256)

0.3452685421994885

In [26]:
from sklearn.metrics import roc_auc_score

In [27]:
roc_auc_score(train["Class"],pred)

0.672559530712677

In [28]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt.fit(x_train,y_train)

DecisionTreeClassifier()

In [29]:
dt.score(x_train,y_train)

1.0

In [30]:
pred=dt.predict(x_train)

In [31]:
pd.crosstab(y_train,pred)

col_0       0    1
Class
0      227454    0
1           0  391

In [32]:
pred_test=dt.predict(x_test)

In [33]:
pd.crosstab(y_test,pred_test)

col_0      0   1
Class
0      56814  47
1         44  57

In [34]:
dt.score(x_test,y_test)

0.9984024437344194

In [35]:
precision_score(y_train,pred)

1.0

In [36]:
recall_score(y_train,pred)

1.0

In [37]:
roc_auc_score(y_train,pred)

1.0

In [38]:
precision_score(y_test,pred_test)

0.5480769230769231

In [39]:
recall_score(y_test,pred_test)

0.5643564356435643

In [40]:
roc_auc_score(y_test,pred_test)

0.7817649292760303

In [42]:
credit.head(2)

         V1        V2        V3        V4        V5  Amount  Class
0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  149.62      0
1  1.191857  0.266151  0.166480  0.448154  0.060018    2.69      0

In [45]:
fraud=credit[credit["Class"]==1].reset_index(drop=True)
non_fraud=credit[credit["Class"]==0].reset_index(drop=True)

In [46]:
non_fraud.shape

(284315, 7)

In [52]:
284315*0.02

5686.3

In [53]:
492/(492+5686)*100

7.963742311427646

In [60]:
int(non_fraud.shape[0]*0.02)

5686

In [65]:
non_fraud_data=non_fraud.sample(n=int(non_fraud.shape[0]*0.02)).reset_index(drop=True)

In [66]:
non_fraud_data.head(2)

         V1        V2        V3        V4        V5  Amount  Class
0  1.501219 -0.961673  0.475037 -1.448639 -1.483854    1.00      0
1  2.046518  0.224315 -1.645958  0.425365  0.511271    8.99      0

In [67]:
final_data=pd.concat([non_fraud_data,fraud])

In [68]:
final_data.head()

         V1        V2        V3        V4        V5  Amount  Class
0  1.501219 -0.961673  0.475037 -1.448639 -1.483854    1.00      0
1  2.046518  0.224315 -1.645958  0.425365  0.511271    8.99      0
2 -0.832451  1.014867  2.236497  0.414555  0.287894    9.22      0
3  0.310063  0.085344  0.103434 -1.822406 -0.109905   15.00      0
4  1.195558  0.187820  0.376885  0.641985 -0.558810    2.99      0

In [71]:
final_data["Class"].value_counts()/len(final_data)*100

0    92.036258
1     7.963742
Name: Class, dtype: float64

In [72]:
credit.head()

         V1        V2        V3        V4        V5  Amount  Class
0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  149.62      0
1  1.191857  0.266151  0.166480  0.448154  0.060018    2.69      0
2 -1.358354 -1.340163  1.773209  0.379780 -0.503198  378.66      0
3 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  123.50      0
4 -1.158233  0.877737  1.548718  0.403034 -0.407193   69.99      0

In [73]:
fraud.shape

(492, 7)

In [74]:
non_fraud.shape

(284315, 7)

In [86]:
data1=pd.concat([non_fraud,fraud,fraud,fraud,fraud,fraud,fraud,fraud,fraud,fraud,fraud,fraud,fraud,fraud,fraud,fraud,fraud,fraud,fraud,
                 fraud,fraud,fraud,fraud,
                fraud,fraud,fraud,fraud,fraud,fraud,fraud,fraud,fraud,fraud,
                fraud,fraud,fraud,fraud,fraud,fraud,fraud,fraud,fraud,fraud])

In [87]:
data1["Class"].value_counts()/len(data1)*100

0    93.224452
1     6.775548
Name: Class, dtype: float64

In [88]:
non_fraud.head(2)

         V1        V2        V3        V4        V5  Amount  Class
0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  149.62      0
1  1.191857  0.266151  0.166480  0.448154  0.060018    2.69      0

In [89]:
data=non_fraud.drop(["Class"],axis=1)

In [93]:
from sklearn.preprocessing import MinMaxScaler
mn=MinMaxScaler()
data1=pd.DataFrame(mn.fit_transform(data),columns=data.columns)

In [97]:
from sklearn.cluster import KMeans
km=KMeans(n_clusters=4)
km.fit(data1)

KMeans(n_clusters=4)

In [99]:
non_fraud["labels"]=km.labels_

In [101]:
non_fraud["labels"].value_counts()

0    108464
1    106257
2     48948
3     20646
Name: labels, dtype: int64

In [103]:
cluster_0=non_fraud[non_fraud["labels"]==0]
cluster_1=non_fraud[non_fraud["labels"]==1]
cluster_2=non_fraud[non_fraud["labels"]==2]
cluster_3=non_fraud[non_fraud["labels"]==3]

In [104]:
cluster_3.head(2)

          V1        V2        V3        V4        V5  Amount  Class  labels
13  1.069374  0.287722  0.828613  2.712520 -0.178398    27.5      0       3
14 -2.791855 -0.327771  1.641750  1.767473 -0.136588    58.8      0       3

In [105]:
cluster_3.drop(["labels"],axis=1,inplace=True)

C:\Users\Koti\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [113]:
data1=pd.concat([cluster_3,fraud,fraud,fraud])

In [114]:
data1["Class"].value_counts()/len(data1)*100

0    93.327909
1     6.672091
Name: Class, dtype: float64