In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
students=pd.read_csv(r"C:\Users\Koti\Downloads\PoissonRegression\PoissonRegression-master\data\StudentData.csv")

In [4]:
students.head()

    id  num_awards  prog  math
0   45           0     3    41
1  108           0     1    41
2   15           0     3    44
3   67           0     3    42
4  153           0     3    40

In [5]:
students.describe()

               id  num_awards        prog        math
count  200.000000  200.000000  200.000000  200.000000
mean   100.500000    0.630000    2.025000   52.645000
std     57.879185    1.052921    0.690477    9.368448
min      1.000000    0.000000    1.000000   33.000000
25%     50.750000    0.000000    2.000000   45.000000
50%    100.500000    0.000000    2.000000   52.000000
75%    150.250000    1.000000    2.250000   59.000000
max    200.000000    6.000000    3.000000   75.000000

In [6]:
students.head()

    id  num_awards  prog  math
0   45           0     3    41
1  108           0     1    41
2   15           0     3    44
3   67           0     3    42
4  153           0     3    40

In [7]:
students["num_awards"].value_counts()

0    124
1     49
2     13
3      9
5      2
4      2
6      1
Name: num_awards, dtype: int64

In [8]:
students["prog"].value_counts()

2    105
3     50
1     45
Name: prog, dtype: int64

In [9]:
students["math"].value_counts()

57    13
54    10
40    10
49    10
46     8
51     8
45     8
41     7
61     7
50     7
53     7
43     7
56     7
42     7
58     6
39     6
52     6
63     5
48     5
60     5
64     5
55     5
66     4
71     4
44     4
62     4
65     3
47     3
72     3
38     2
75     2
59     2
67     2
69     2
73     1
68     1
70     1
37     1
35     1
33     1
Name: math, dtype: int64

In [10]:
students.head()

    id  num_awards  prog  math
0   45           0     3    41
1  108           0     1    41
2   15           0     3    44
3   67           0     3    42
4  153           0     3    40

In [11]:
students["num_awards"].mean()

0.63

In [12]:
students["num_awards"].var()

1.108643216080402

In [13]:
students["prog"].mean()

2.025

In [14]:
students["prog"].var()

0.4767587939698486

In [15]:
students["math"].mean()

52.645

In [16]:
students["math"].var()

87.76781407035179

In [17]:
students.head()

    id  num_awards  prog  math
0   45           0     3    41
1  108           0     1    41
2   15           0     3    44
3   67           0     3    42
4  153           0     3    40

In [18]:
students["prog"].value_counts()

2    105
3     50
1     45
Name: prog, dtype: int64

In [19]:
students.dtypes

id            int64
num_awards    int64
prog          int64
math          int64
dtype: object

In [20]:
y=students["num_awards"]
x=students.drop(["id","num_awards"],axis=1)

In [21]:
import statsmodels.api as sm

In [24]:
X=sm.add_constant(x,prepend=False)

In [27]:
poission_mod=sm.Poisson(y,X)
poission_res=poission_mod.fit(method="newton")
print(poission_res.summary())

Optimization terminated successfully.
         Current function value: 0.948765
         Iterations 6
                          Poisson Regression Results
==============================================================================
Dep. Variable:             num_awards   No. Observations:                  200
Model:                        Poisson   Df Residuals:                      197
Method:                           MLE   Df Model:                            2
Date:                Fri, 08 May 2020   Pseudo R-squ.:                  0.1816
Time:                        06:47:21   Log-Likelihood:                -189.75
converged:                       True   LL-Null:                       -231.86
Covariance Type:            nonrobust   LLR p-value:                 5.148e-19
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
prog           0.1233      0.163      0.755      0.450      -0.197       0.443
math           0.0861      0.010      8.984      0.000       0.067       0.105
const         -5.5781      0.677     -8.242      0.000      -6.905      -4.252
==============================================================================

In [28]:
poission_mod.df_resid

197.0