In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
air=pd.read_csv(r"C:\ksr\data science\DS_batch1\datasets\AirPassengers.csv")

In [3]:
air.head()

,Week_num,Passengers,Promotion_Budget,Service_Quality_Score,Holiday_week,Delayed_Cancelled_flight_ind,Inter_metro_flight_ratio,Bad_Weather_Ind,Technical_issues_ind
0,1,37824,517356,4.00000,NO,NO,0.70,YES,YES
1,2,43936,646086,2.67466,NO,YES,0.80,YES,YES
2,3,42896,638330,3.29473,NO,NO,0.90,NO,NO
3,4,35792,506492,3.85684,NO,NO,0.40,NO,NO
4,5,38624,609658,3.90757,NO,NO,0.87,NO,YES

In [4]:
air1=air._get_numeric_data()

In [5]:
air1.head()

,Week_num,Passengers,Promotion_Budget,Service_Quality_Score,Inter_metro_flight_ratio
0,1,37824,517356,4.00000,0.70
1,2,43936,646086,2.67466,0.80
2,3,42896,638330,3.29473,0.90
3,4,35792,506492,3.85684,0.40
4,5,38624,609658,3.90757,0.87

In [15]:
air1.drop(["Week_num"],axis=1,inplace=True)

In [16]:
air1.head()

,Passengers,Promotion_Budget,Service_Quality_Score,Inter_metro_flight_ratio
0,37824,517356,4.00000,0.70
1,43936,646086,2.67466,0.80
2,42896,638330,3.29473,0.90
3,35792,506492,3.85684,0.40
4,38624,609658,3.90757,0.87

In [17]:
from sklearn.model_selection import train_test_split
train,test=train_test_split(air1,test_size=0.2,random_state=0)
print(train.shape,test.shape)

(64, 4) (16, 4)

In [18]:
import statsmodels.formula.api as smf
model=smf.ols(formula="Passengers~Promotion_Budget+Service_Quality_Score+Inter_metro_flight_ratio",data=train).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             Passengers   R-squared:                       0.943
Model:                            OLS   Adj. R-squared:                  0.940
Method:                 Least Squares   F-statistic:                     330.9
Date:                Sat, 09 May 2020   Prob (F-statistic):           2.87e-37
Time:                        06:30:28   Log-Likelihood:                -587.63
No. Observations:                  64   AIC:                             1183.
Df Residuals:                      60   BIC:                             1192.
Df Model:                           3
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                 2.106e+04   3705.814      5.682      0.000    1.36e+04    2.85e+04
Promotion_Budget             0.0518      0.004     13.333      0.000       0.044       0.060
Service_Quality_Score    -2977.5814    549.370     -5.420      0.000   -4076.484   -1878.679
Inter_metro_flight_ratio  -751.0003   2221.111     -0.338      0.736   -5193.884    3691.883
==============================================================================
Omnibus:                        1.223   Durbin-Watson:                   1.944
Prob(Omnibus):                  0.543   Jarque-Bera (JB):                1.016
Skew:                          -0.038   Prob(JB):                        0.602
Kurtosis:                       2.387   Cond. No.                     7.77e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.77e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [19]:
model.predict() # return preidcted all 64 records

array([35501.27417587, 36704.83777412, 35683.74120861, 36495.29760619,
       30534.00263235, 33190.12370002, 43116.524868  , 39924.35021478,
       51396.51628112, 34733.86102704, 50185.26834921, 54815.0053467 ,
       42708.44371527, 38519.47404919, 34005.25143121, 40339.72419046,
       37669.74736323, 57000.24482434, 31849.91987442, 43985.40251933,
       37344.25572554, 45647.03704738, 35274.29798011, 46690.79661069,
       30051.43994703, 53160.0213705 , 45949.81573987, 49310.88157512,
       65276.90517916, 51731.64952435, 36226.38303862, 59049.93890966,
       46665.13282086, 39524.34403175, 50285.45630171, 40259.31759921,
       42773.8329581 , 35412.29803767, 45232.2501717 , 36861.42666217,
       33790.10692622, 54355.64589198, 53057.33992345, 50448.96824037,
       56242.62907216, 49470.18171229, 32054.15723316, 43438.89272542,
       36601.76135935, 39947.69358746, 35666.50035481, 39329.59358623,
       39734.74916911, 32394.85980729, 32825.51945367, 50772.01183882,
       47112.83774171, 55572.50915131, 43440.21599606, 75225.29604928,
       45864.76078793, 69484.79473497, 45073.27492427, 32515.20735005])

In [20]:
model.predict(train)

3     35501.274176
22    36704.837774
7     35683.741209
26    36495.297606
42    30534.002632
          ...
76    75225.296049
67    45864.760788
64    69484.794735
47    45073.274924
44    32515.207350
Length: 64, dtype: float64

In [21]:
train.head()

,Passengers,Promotion_Budget,Service_Quality_Score,Inter_metro_flight_ratio
3,35792,506492,3.85684,0.40
22,32752,502712,3.37428,0.45
7,34592,495152,3.60086,0.39
26,35168,518070,3.70671,0.47
42,30432,373954,3.21748,0.41

In [27]:
train1=train.reset_index().drop(["index"],axis=1)

In [29]:
train1.head()

,Passengers,Promotion_Budget,Service_Quality_Score,Inter_metro_flight_ratio
0,35792,506492,3.85684,0.40
1,32752,502712,3.37428,0.45
2,34592,495152,3.60086,0.39
3,35168,518070,3.70671,0.47
4,30432,373954,3.21748,0.41

In [30]:
test1=test.reset_index().drop(["index"],axis=1)

In [31]:
test1.head()

,Passengers,Promotion_Budget,Service_Quality_Score,Inter_metro_flight_ratio
0,43728,590492,2.77882,0.47
1,34496,539378,3.48455,0.78
2,36800,472178,3.97446,0.61
3,43288,638162,3.08191,0.62
4,37936,511546,3.99727,0.49

In [32]:
import statsmodels.formula.api as smf
model=smf.ols(formula="Passengers~Promotion_Budget+Service_Quality_Score+Inter_metro_flight_ratio",data=train1).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             Passengers   R-squared:                       0.943
Model:                            OLS   Adj. R-squared:                  0.940
Method:                 Least Squares   F-statistic:                     330.9
Date:                Sat, 09 May 2020   Prob (F-statistic):           2.87e-37
Time:                        06:34:14   Log-Likelihood:                -587.63
No. Observations:                  64   AIC:                             1183.
Df Residuals:                      60   BIC:                             1192.
Df Model:                           3
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                 2.106e+04   3705.814      5.682      0.000    1.36e+04    2.85e+04
Promotion_Budget             0.0518      0.004     13.333      0.000       0.044       0.060
Service_Quality_Score    -2977.5814    549.370     -5.420      0.000   -4076.484   -1878.679
Inter_metro_flight_ratio  -751.0003   2221.111     -0.338      0.736   -5193.884    3691.883
==============================================================================
Omnibus:                        1.223   Durbin-Watson:                   1.944
Prob(Omnibus):                  0.543   Jarque-Bera (JB):                1.016
Skew:                          -0.038   Prob(JB):                        0.602
Kurtosis:                       2.387   Cond. No.                     7.77e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.77e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [33]:
train_pred=model.predict(train1) # predicting the train dataset value

In [34]:
model.rsquared

0.9430084573449903

In [35]:
model.rsquared_adj

0.9401588802122398

In [36]:
model.fvalue

330.9292619269348

In [40]:
error=np.abs(sum(train1["Passengers"]-train_pred))
error

4.089088179171085e-09

In [43]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(train1["Passengers"],train_pred)

1969.6556622067433

In [47]:
error=sum(abs(train1["Passengers"]-train_pred))
mae=error/len(train1)
mae

1969.6556622067435

In [48]:
test_pred=model.predict(test1) # predicting test dataset value

In [49]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(test1["Passengers"],test_pred)

2564.3145807108067

In [50]:
from sklearn.metrics import mean_squared_error
mean_squared_error(train1["Passengers"],train_pred)

5528913.903158465

In [51]:
MSE=sum(np.square(train1["Passengers"]-train_pred))/len(train1)
MSE

5528913.903158465

In [52]:
from sklearn.metrics import mean_squared_error
mean_squared_error(test1["Passengers"],test_pred)

9135502.871778995

In [53]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(train1["Passengers"],train_pred))

2351.364264242881

In [54]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(test1["Passengers"],test_pred))

3022.4994411544553

In [55]:
MSE=sum(np.square(train1["Passengers"]-train_pred))/len(train1)
RMSE=np.sqrt(MSE)
RMSE

2351.364264242881

In [60]:
MAPE_train=sum(abs(train1["Passengers"]-train_pred)/train1["Passengers"])/len(train1)
MAPE_train

0.04652341678274594

In [61]:
MAPE_test=sum(abs(test1["Passengers"]-test_pred)/test1["Passengers"])/len(test1)
MAPE_test

0.052751170140182664

In [62]:
MSE=sum(np.square(test1["Passengers"]-test_pred))/len(test1)
RMSE=np.sqrt(MSE)
RMSE

3022.4994411544553