In [1]:
import numpy as np
import pandas as pd

In [2]:
bank=pd.read_csv(r"C:\ksr\data science\DS_batch1\datasets\bank_market.csv")

In [3]:
bank.shape

(45211, 18)

In [4]:
bank.columns

Index(['Cust_num', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign',
       'pdays', 'previous', 'poutcome', 'y'],
      dtype='object')

In [5]:
bank["marital"].value_counts() #frequnecy for categorical variables

married     27214
single      12790
divorced     5207
Name: marital, dtype: int64

In [6]:
bank1=bank[bank["marital"]=="single"]
bank1.shape

(12790, 18)

In [8]:
bank1=bank[(bank["marital"]=="single")|(bank["marital"]=="divorced")]
bank1.shape

(17997, 18)

In [9]:
bank.columns

Index(['Cust_num', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign',
       'pdays', 'previous', 'poutcome', 'y'],
      dtype='object')

In [11]:
bank1=bank[bank["age"]==44]
bank1.shape

(1136, 18)

In [12]:
bank1=bank[(bank["age"]==44)|(bank["age"]==54)]
bank1.shape

(1947, 18)

In [15]:
bank1=bank[(bank["age"]>40)&(bank["default"]=="yes")]
bank1.shape

(347, 18)

In [16]:
bank2=bank[(bank["age"]>40)&(bank["balance"]<0)]
bank2.shape

(1610, 18)

In [17]:
bank1=bank[bank["age"].isin([44,54,60])]

In [18]:
bank1.shape

(2543, 18)

In [21]:
bank.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Cust_num,45211.0,22606.000000,13051.435847,1.0,11303.5,22606.0,33908.5,45211.0
age,45211.0,40.936210,10.618762,18.0,33.0,39.0,48.0,95.0
balance,45211.0,1362.272058,3044.765829,-8019.0,72.0,448.0,1428.0,102127.0
day,45211.0,15.806419,8.322476,1.0,8.0,16.0,21.0,31.0
duration,45211.0,258.163080,257.527812,0.0,103.0,180.0,319.0,4918.0
campaign,45211.0,2.763841,3.098021,1.0,1.0,2.0,3.0,63.0
pdays,45211.0,40.197828,100.128746,-1.0,-1.0,-1.0,-1.0,871.0
previous,45211.0,0.580323,2.303441,0.0,0.0,0.0,0.0,275.0

In [25]:
bank["balance"].quantile([0,0.05,0.25,0.5,0.75,0.9,0.95,0.997,1])

0.000     -8019.00
0.050      -172.00
0.250        72.00
0.500       448.00
0.750      1428.00
0.900      3574.00
0.950      5768.00
0.997     22561.44
1.000    102127.00
Name: balance, dtype: float64

In [26]:
iqr=bank["balance"].quantile(0.75)-bank["balance"].quantile(0.25)
iqr

1356.0

In [27]:
lo=bank["balance"].quantile(0.25)-(1.5*iqr)
print("lower outlier cut point",lo)
print("min balance in given data",bank["balance"].min())
print("\n")
uo=bank["balance"].quantile(0.75)+(1.5*iqr)
print("upper outlier cut point",uo)
print("max balance in given data",bank["balance"].max())

lower outlier cut point -1962.0
min balance in given data -8019


upper outlier cut point 3462.0
max balance in given data 102127

In [32]:
def outlier_cal(data):
    col=list(data.columns)
    for i in col:
        if data[i].dtypes !="object":
            iqr=data[i].quantile(0.75)-data[i].quantile(0.25)
            lo=data[i].quantile(0.25)-(1.5*iqr)
            uo=data[i].quantile(0.75)+(1.5*iqr)
            print("each variable outlier values",i,"\n")
            print("lower outlier cut off value",lo)
            print("min value in given data",data[i].min())
            print("upper outlier cut off value",uo)
            print("max value of a given data",data[i].max())
            print("\n")

In [33]:
outlier_cal(data=bank)

each variable outlier values Cust_num

lower outlier cut off value -22604.0
min value in given data 1
upper outlier cut off value 67816.0
max value of a given data 45211


each variable outlier values age

lower outlier cut off value 10.5
min value in given data 18
upper outlier cut off value 70.5
max value of a given data 95


each variable outlier values balance

lower outlier cut off value -1962.0
min value in given data -8019
upper outlier cut off value 3462.0
max value of a given data 102127


each variable outlier values day

lower outlier cut off value -11.5
min value in given data 1
upper outlier cut off value 40.5
max value of a given data 31


each variable outlier values duration

lower outlier cut off value -221.0
min value in given data 0
upper outlier cut off value 643.0
max value of a given data 4918


each variable outlier values campaign

lower outlier cut off value -2.0
min value in given data 1
upper outlier cut off value 6.0
max value of a given data 63


each variable outlier values pdays

lower outlier cut off value -1.0
min value in given data -1
upper outlier cut off value -1.0
max value of a given data 871


each variable outlier values previous

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off value 0.0
max value of a given data 275

In [ ]:
bank.to_excel

In [57]:
def numeric_summary_stat(data):
    sumry_stat=data.describe().T
    iqr=sumry_stat["75%"]-sumry_stat["25%"]
    sumry_stat["lo"]=sumry_stat["25%"]-(1.5*iqr)
    sumry_stat["uo"]=sumry_stat["75%"]+(1.5*iqr)
    sumry_stat["missing%"]=(len(data)-sumry_stat["count"])/len(data)*100
    sumry_stat["5%"]=data.quantile(0.05)
    sumry_stat1=sumry_stat[["min","5%","25%","50%","mean","75%","max","count","missing%","lo","uo"]]
    sumry_stat1.to_excel("C:\\Users\\Koti\\Documents\\Data_Science\\DS_FEB_2020\\Analysis\\summary_stat.xls")
    return sumry_stat1

In [58]:
numeric_summary_stat(data=bank)

,min,5%,25%,50%,mean,75%,max,count,missing%,lo,uo
Cust_num,1.0,2261.5,11303.5,22606.0,22606.000000,33908.5,45211.0,45211.0,0.0,-22604.0,67816.0
age,18.0,27.0,33.0,39.0,40.936210,48.0,95.0,45211.0,0.0,10.5,70.5
balance,-8019.0,-172.0,72.0,448.0,1362.272058,1428.0,102127.0,45211.0,0.0,-1962.0,3462.0
day,1.0,3.0,8.0,16.0,15.806419,21.0,31.0,45211.0,0.0,-11.5,40.5
duration,0.0,35.0,103.0,180.0,258.163080,319.0,4918.0,45211.0,0.0,-221.0,643.0
campaign,1.0,1.0,1.0,2.0,2.763841,3.0,63.0,45211.0,0.0,-2.0,6.0
pdays,-1.0,-1.0,-1.0,-1.0,40.197828,-1.0,871.0,45211.0,0.0,-1.0,-1.0
previous,0.0,0.0,0.0,0.0,0.580323,0.0,275.0,45211.0,0.0,0.0,0.0