In [1]:
import numpy as np
import pandas as pd

In [2]:
bill=pd.read_csv(r"C:\ksr\data science\DS_batch1\datasets\Telecom Data Analysis\Bill.csv")

In [3]:
comp=pd.read_csv(r"C:\ksr\data science\DS_batch1\datasets\Telecom Data Analysis\Complaints.csv")

In [4]:
print(bill.shape,comp.shape)

(9462, 7) (6587, 8)

In [6]:
bill=bill.drop_duplicates(keep="last")
comp=comp.drop_duplicates(keep="first")

In [7]:
bill.head()

,cust_id,act_active_dt,package_id,bill_zip,customer_segment,status,bill_amt
0,9243148228,6/22/2006,54518.0,560095,S,ACTIVE,561.80
1,9243264060,6/23/2006,617691.0,580029,S,ACTIVE,224.35
2,8951061271,8/14/2010,616488.0,560037,F,ACTIVE,1689.04
3,8951033996,6/26/2010,616488.0,560062,R,ACTIVE,344.04
4,9241079722,9/30/2005,614975.0,560017,G - TC,ACTIVE,478.33

In [8]:
comp.head()

,comp_id,month,incident,cust_id,sla status new,incident type,type,severity
0,318691791,12-Jul,7/22/2012,9.243584e+09,ClosedIN SLA,Customer Communication,VAS-OTHERS,High
1,318691795,12-Jul,7/22/2012,9.243584e+09,ClosedIN SLA,Customer Communication,VAS-OTHERS,High
2,318691807,12-Jul,7/22/2012,9.243584e+09,ClosedIN SLA,Customer Communication,VAS-OTHERS,High
3,318691809,12-Jul,7/22/2012,9.243584e+09,ClosedIN SLA,Customer Communication,VAS-OTHERS,High
4,317997895,12-Jul,7/17/2012,9.282442e+09,ClosedIN SLA,Barring/Unbarring,VAS-OTHERS,High

In [9]:
inner_data=pd.merge(bill,comp,on="cust_id",how="inner")
inner_data.shape

(424, 14)

In [10]:
inner_data=pd.merge(bill,comp,left_on="cust_id",right_on="cust_id")
inner_data.shape

(424, 14)

In [14]:
inner_data=pd.merge(left=bill,right=comp,left_on="cust_id",right_on="cust_id")
inner_data.shape
inner_data.head()

,cust_id,act_active_dt,package_id,bill_zip,customer_segment,status,bill_amt,comp_id,month,incident,sla status new,incident type,type,severity
0,9886781830,8/12/2011,623511.0,560093,F,ACTIVE,622.98,318987683,12-Jul,7/24/2012,ClosedIN SLA,GSM Complaint on Network,TECH,Medium
1,9243188525,3/1/2007,13920.0,560001,G - TC,ACTIVE,1564.38,317489509,12-Jul,7/13/2012,ClosedIN SLA,CRBT/Call Me Tune Act/Deact,CB VAS,High
2,9243188525,3/1/2007,13920.0,560001,G - TC,ACTIVE,1564.38,317530669,12-Jul,7/13/2012,OpenIN SLA,CRBT/Call Me Tune Act/Deact,CB VAS,High
3,9243188525,3/1/2007,13920.0,560001,G - TC,ACTIVE,1564.38,317520257,12-Jul,7/13/2012,OpenIN SLA,Feature CRBT/Call Me Tune,CB VAS,High
4,9243188525,3/1/2007,13920.0,560001,G - TC,ACTIVE,1564.38,317531403,12-Jul,7/13/2012,OpenIN SLA,Feature CRBT/Call Me Tune,CB VAS,High

In [22]:
inner_data=pd.merge(left=bill,right=comp,left_on="cust_id",right_on="cust_id",validate="many_to_many")
inner_data.shape

(424, 14)

In [17]:
inner_data.head()

,cust_id,act_active_dt,package_id,bill_zip,customer_segment,status,bill_amt,comp_id,month,incident,sla status new,incident type,type,severity,_merge
0,9886781830,8/12/2011,623511.0,560093,F,ACTIVE,622.98,318987683,12-Jul,7/24/2012,ClosedIN SLA,GSM Complaint on Network,TECH,Medium,both
1,9243188525,3/1/2007,13920.0,560001,G - TC,ACTIVE,1564.38,317489509,12-Jul,7/13/2012,ClosedIN SLA,CRBT/Call Me Tune Act/Deact,CB VAS,High,both
2,9243188525,3/1/2007,13920.0,560001,G - TC,ACTIVE,1564.38,317530669,12-Jul,7/13/2012,OpenIN SLA,CRBT/Call Me Tune Act/Deact,CB VAS,High,both
3,9243188525,3/1/2007,13920.0,560001,G - TC,ACTIVE,1564.38,317520257,12-Jul,7/13/2012,OpenIN SLA,Feature CRBT/Call Me Tune,CB VAS,High,both
4,9243188525,3/1/2007,13920.0,560001,G - TC,ACTIVE,1564.38,317531403,12-Jul,7/13/2012,OpenIN SLA,Feature CRBT/Call Me Tune,CB VAS,High,both

In [18]:
inner_data["_merge"].value_counts()

both          424
right_only      0
left_only       0
Name: _merge, dtype: int64

In [19]:
help(pd.merge)

Help on function merge in module pandas.core.reshape.merge:

merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)
    Merge DataFrame or named Series objects with a database-style join.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : tuple of (str, str), default ('_x', '_y')
        Suffix to apply to overlapping column names in the left and right
        side, respectively. To raise an exception on overlapping columns use
        (False, False).
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to output DataFrame called "_merge" with
        information on the source of each row.
        If string, column with information on source of each row will be added to
        output DataFrame, and column will be named value of string.
        Information column is Categorical-type and takes on a value of "left_only"
        for observations whose merge key only appears in 'left' DataFrame,
        "right_only" for observations whose merge key only appears in 'right'
        DataFrame, and "both" if the observation's merge key is found in both.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

        .. versionadded:: 0.21.0

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------

    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

In [23]:
bill.head()

,cust_id,act_active_dt,package_id,bill_zip,customer_segment,status,bill_amt
0,9243148228,6/22/2006,54518.0,560095,S,ACTIVE,561.80
1,9243264060,6/23/2006,617691.0,580029,S,ACTIVE,224.35
2,8951061271,8/14/2010,616488.0,560037,F,ACTIVE,1689.04
3,8951033996,6/26/2010,616488.0,560062,R,ACTIVE,344.04
4,9241079722,9/30/2005,614975.0,560017,G - TC,ACTIVE,478.33

In [24]:
comp.head()

,comp_id,month,incident,cust_id,sla status new,incident type,type,severity
0,318691791,12-Jul,7/22/2012,9.243584e+09,ClosedIN SLA,Customer Communication,VAS-OTHERS,High
1,318691795,12-Jul,7/22/2012,9.243584e+09,ClosedIN SLA,Customer Communication,VAS-OTHERS,High
2,318691807,12-Jul,7/22/2012,9.243584e+09,ClosedIN SLA,Customer Communication,VAS-OTHERS,High
3,318691809,12-Jul,7/22/2012,9.243584e+09,ClosedIN SLA,Customer Communication,VAS-OTHERS,High
4,317997895,12-Jul,7/17/2012,9.282442e+09,ClosedIN SLA,Barring/Unbarring,VAS-OTHERS,High

In [28]:
inner_data=pd.merge(left=bill,right=comp[["month","type","cust_id"]],on="cust_id")
inner_data.shape

(424, 9)

In [29]:
bill.shape

(9452, 7)

In [30]:
left_data=pd.merge(left=bill,right=comp,on="cust_id",how="left",indicator=True)
left_data.shape

(9575, 15)

In [31]:
dup=bill["cust_id"].duplicated()
bill1=bill[dup==False]

In [35]:
dup1=comp["cust_id"].duplicated()
comp1=comp[dup1==False]

In [36]:
print(bill1.shape,comp1.shape)

(9389, 7) (4856, 8)

In [37]:
left_data=pd.merge(left=bill1,right=comp1,on="cust_id",how="left",indicator=True)
left_data.shape

(9389, 15)

In [38]:
left_data["_merge"].value_counts()

left_only     9096
both           293
right_only       0
Name: _merge, dtype: int64

In [39]:
left_data1=left_data[left_data["_merge"]=="left_only"]
left_data1.shape

(9096, 15)

In [41]:
right_data=pd.merge(left=bill1,right=comp1,on="cust_id",how="right",indicator=True)
right_data.shape

(4856, 15)

In [42]:
right_data["_merge"].value_counts()

right_only    4563
both           293
left_only        0
Name: _merge, dtype: int64

In [43]:
full_data=pd.merge(left=bill1,right=comp1,on="cust_id",how="outer",indicator=True)
full_data.shape

(13952, 15)

In [44]:
full_data["_merge"].value_counts()

left_only     9096
right_only    4563
both           293
Name: _merge, dtype: int64