In [1]:
import numpy as np
import pandas as pd

In [2]:
air=pd.read_csv(r"C:\ksr\data science\DS_batch1\datasets\AirPassengers.csv")

In [3]:
air.head()

,Week_num,Passengers,Promotion_Budget,Service_Quality_Score,Holiday_week,Delayed_Cancelled_flight_ind,Inter_metro_flight_ratio,Bad_Weather_Ind,Technical_issues_ind
0,1,37824,517356,4.00000,NO,NO,0.70,YES,YES
1,2,43936,646086,2.67466,NO,YES,0.80,YES,YES
2,3,42896,638330,3.29473,NO,NO,0.90,NO,NO
3,4,35792,506492,3.85684,NO,NO,0.40,NO,NO
4,5,38624,609658,3.90757,NO,NO,0.87,NO,YES

In [4]:
air1=air._get_numeric_data()

In [5]:
air1.head()

,Week_num,Passengers,Promotion_Budget,Service_Quality_Score,Inter_metro_flight_ratio
0,1,37824,517356,4.00000,0.70
1,2,43936,646086,2.67466,0.80
2,3,42896,638330,3.29473,0.90
3,4,35792,506492,3.85684,0.40
4,5,38624,609658,3.90757,0.87

In [6]:
air1.drop(["Week_num"],axis=1,inplace=True)

In [7]:
air1.head()

,Passengers,Promotion_Budget,Service_Quality_Score,Inter_metro_flight_ratio
0,37824,517356,4.00000,0.70
1,43936,646086,2.67466,0.80
2,42896,638330,3.29473,0.90
3,35792,506492,3.85684,0.40
4,38624,609658,3.90757,0.87

In [8]:
from sklearn.model_selection import train_test_split
train,test=train_test_split(air1,test_size=0.2,random_state=0)
print(train.shape,test.shape)

(64, 4) (16, 4)

In [9]:
x_train=train.drop(["Passengers"],axis=1)
y_train=train["Passengers"]
x_test=test.drop(["Passengers"],axis=1)
y_test=test["Passengers"]

In [10]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
print("training_accuracy",lr.score(x_train,y_train))
print("test_accuracy",lr.score(x_test,y_test))

training_accuracy 0.9430084573449903
test_accuracy 0.9577183792533701

In [20]:
from sklearn.linear_model import Ridge
rg=Ridge(alpha=3)
rg.fit(x_train,y_train)

Ridge(alpha=3, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [21]:
print("test_accuracy",rg.score(x_test,y_test))

test_accuracy 0.9580571645902153

In [23]:
from sklearn.model_selection import GridSearchCV
param_grid={"alpha":np.arange(1,100)}
rg=GridSearchCV(Ridge(),param_grid)
rg.fit(x_train,y_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [24]:
rg.best_estimator_

Ridge(alpha=3, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [25]:
from sklearn.linear_model import Ridge
rg=Ridge(alpha=3)
rg.fit(x_train,y_train)

Ridge(alpha=3, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [26]:
rg.score(x_test,y_test)

0.9580571645902153

In [27]:
rg.coef_

array([ 5.36496711e-02, -2.58191833e+03, -2.16464163e+02])

In [28]:
list(zip(x_train.columns,rg.coef_))

[('Promotion_Budget', 0.05364967108745646),
 ('Service_Quality_Score', -2581.9183318836554),
 ('Inter_metro_flight_ratio', -216.46416303516256)]

In [29]:
rg.intercept_

18447.10628806136

In [30]:
train_pred=rg.predict(x_train)
test_pred=rg.predict(x_test)

In [31]:
from sklearn.metrics import mean_squared_error

In [33]:
np.sqrt(mean_squared_error(y_train,train_pred))

2362.673019752523

In [34]:
np.sqrt(mean_squared_error(y_test,test_pred))

3010.366061280769

In [35]:
train_pred=lr.predict(x_train)
test_pred=lr.predict(x_test)

In [36]:
np.sqrt(mean_squared_error(y_train,train_pred))

2351.3642642428804

In [37]:
np.sqrt(mean_squared_error(y_test,test_pred))

3022.499441132443