In [1]:
import numpy as np
import pandas as pd

In [2]:
air=pd.read_csv(r"C:\ksr\data science\DS_batch1\datasets\AirPassengers.csv")

In [3]:
air.shape

(80, 9)

In [4]:
air.head()

,Week_num,Passengers,Promotion_Budget,Service_Quality_Score,Holiday_week,Delayed_Cancelled_flight_ind,Inter_metro_flight_ratio,Bad_Weather_Ind,Technical_issues_ind
0,1,37824,517356,4.00000,NO,NO,0.70,YES,YES
1,2,43936,646086,2.67466,NO,YES,0.80,YES,YES
2,3,42896,638330,3.29473,NO,NO,0.90,NO,NO
3,4,35792,506492,3.85684,NO,NO,0.40,NO,NO
4,5,38624,609658,3.90757,NO,NO,0.87,NO,YES

In [5]:
air1=air._get_numeric_data()

In [6]:
air1.head()

,Week_num,Passengers,Promotion_Budget,Service_Quality_Score,Inter_metro_flight_ratio
0,1,37824,517356,4.00000,0.70
1,2,43936,646086,2.67466,0.80
2,3,42896,638330,3.29473,0.90
3,4,35792,506492,3.85684,0.40
4,5,38624,609658,3.90757,0.87

In [7]:
air1.drop(["Week_num"],axis=1,inplace=True)

In [8]:
air1.head()

,Passengers,Promotion_Budget,Service_Quality_Score,Inter_metro_flight_ratio
0,37824,517356,4.00000,0.70
1,43936,646086,2.67466,0.80
2,42896,638330,3.29473,0.90
3,35792,506492,3.85684,0.40
4,38624,609658,3.90757,0.87

In [9]:
x_train=air1.drop(["Passengers"],axis=1)
y_train=air1["Passengers"]

In [10]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
lr.score(x_train,y_train)

0.951365052219923

In [12]:
list(zip(x_train.columns,lr.coef_))

[('Promotion_Budget', 0.05550270754241695),
 ('Service_Quality_Score', -2802.070802434244),
 ('Inter_metro_flight_ratio', -2003.4508001029658)]

In [13]:
lr.intercept_

19213.811570876966

In [14]:
from sklearn.linear_model import Lasso
ls=Lasso()
ls.fit(x_train,y_train)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [15]:
list(zip(x_train.columns,ls.coef_))

[('Promotion_Budget', 0.055490566115591236),
 ('Service_Quality_Score', -2798.712014138161),
 ('Inter_metro_flight_ratio', -1947.0932197466686)]

In [16]:
ls.score(x_train,y_train)

0.9513645758683523

In [18]:
from sklearn.datasets import load_boston
lb=load_boston()

In [22]:
x_train=pd.DataFrame(lb.data,columns=lb.feature_names)

In [23]:
y_train=lb.target

In [24]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [25]:
list(zip(x_train.columns,lr.coef_))

[('CRIM', -0.10801135783679539),
 ('ZN', 0.04642045836687953),
 ('INDUS', 0.020558626367068917),
 ('CHAS', 2.6867338193448442),
 ('NOX', -17.766611228299986),
 ('RM', 3.8098652068092282),
 ('AGE', 0.0006922246403431768),
 ('DIS', -1.47556684560025),
 ('RAD', 0.30604947898516427),
 ('TAX', -0.012334593916574021),
 ('PTRATIO', -0.9527472317072921),
 ('B', 0.00931168327379375),
 ('LSTAT', -0.5247583778554881)]

In [26]:
from sklearn.linear_model import Lasso
ls=Lasso()
ls.fit(x_train,y_train)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [27]:
list(zip(x_train.columns,ls.coef_))

[('CRIM', -0.06343729004514066),
 ('ZN', 0.04916466550764739),
 ('INDUS', -0.0),
 ('CHAS', 0.0),
 ('NOX', -0.0),
 ('RM', 0.9498106999845143),
 ('AGE', 0.020909514944737546),
 ('DIS', -0.6687900023707882),
 ('RAD', 0.26420643097453383),
 ('TAX', -0.01521158979163473),
 ('PTRATIO', -0.7229663585199505),
 ('B', 0.00824703348549421),
 ('LSTAT', -0.7611145367697878)]

In [28]:
ls.score(x_train,y_train)

0.6825842212709925

In [29]:
x_train1=x_train.drop(["CHAS","INDUS","NOX"],axis=1)

In [30]:
from sklearn.linear_model import Lasso
ls=Lasso()
ls.fit(x_train1,y_train)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [31]:
ls.score(x_train1,y_train)

0.6825842119370464

In [32]:
ls.fit(x_train1,y_train)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [33]:
ls.alpha

1.0

In [34]:
x_train.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [35]:
x_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [36]:
from sklearn.linear_model import Ridge
rg=Ridge()
rg.fit(x_train,y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [37]:
rg.score(x_train,y_train)

0.7388703133867616

In [39]:
from sklearn.model_selection import GridSearchCV
param_grid={"alpha":np.arange(1,100)}
rg1=GridSearchCV(Ridge(),param_grid)
rg1.fit(x_train,y_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [40]:
rg1.best_estimator_

Ridge(alpha=99, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [41]:
from sklearn.linear_model import Ridge
rg=Ridge(alpha=99)
rg.fit(x_train,y_train)

Ridge(alpha=99, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [42]:
rg.score(x_train,y_train)

0.7179872825597885

In [43]:
list(zip(x_train.columns,rg.coef_))

[('CRIM', -0.10220994384984625),
 ('ZN', 0.05447421425049047),
 ('INDUS', -0.052812944133690344),
 ('CHAS', 0.642935677643758),
 ('NOX', -0.2655824524506199),
 ('RM', 2.3440268488757154),
 ('AGE', 0.0011091391215787953),
 ('DIS', -1.154372891101724),
 ('RAD', 0.31514492927211796),
 ('TAX', -0.015846474229010515),
 ('PTRATIO', -0.8290717987428657),
 ('B', 0.009398541803863325),
 ('LSTAT', -0.6600988384544084)]

In [44]:
from sklearn.linear_model import Lasso
ls=Lasso()
ls.fit(x_train,y_train)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [45]:
ls.score(x_train,y_train)

0.6825842212709925

In [48]:
from sklearn.model_selection import GridSearchCV
param_grid={"alpha":np.arange(1,1000)}
ls1=GridSearchCV(Lasso(),param_grid)
ls1.fit(x_train,y_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,...
       924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936,
       937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949,
       950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962,
       963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975,
       976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988,
       989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [49]:
ls1.best_estimator_

Lasso(alpha=1, copy_X=True, fit_intercept=True, max_iter=1000, normalize=False,
      positive=False, precompute=False, random_state=None, selection='cyclic',
      tol=0.0001, warm_start=False)

In [50]:
from sklearn.linear_model import Lasso
ls=Lasso(alpha=1)
ls.fit(x_train,y_train)

Lasso(alpha=1, copy_X=True, fit_intercept=True, max_iter=1000, normalize=False,
      positive=False, precompute=False, random_state=None, selection='cyclic',
      tol=0.0001, warm_start=False)

In [52]:
ls.score(x_train,y_train)

0.6825842212709925

In [53]:
list(zip(x_train.columns,ls.coef_))

[('CRIM', -0.06343729004514066),
 ('ZN', 0.04916466550764739),
 ('INDUS', -0.0),
 ('CHAS', 0.0),
 ('NOX', -0.0),
 ('RM', 0.9498106999845143),
 ('AGE', 0.020909514944737546),
 ('DIS', -0.6687900023707882),
 ('RAD', 0.26420643097453383),
 ('TAX', -0.01521158979163473),
 ('PTRATIO', -0.7229663585199505),
 ('B', 0.00824703348549421),
 ('LSTAT', -0.7611145367697878)]

In [56]:
rg=Ridge()
rg1.fit(x_train1,y_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [57]:
rg1.score(x_train1,y_train)

0.7152591684447303

In [72]:
from sklearn.linear_model import ElasticNet
es=ElasticNet(l1_ratio=0.5,alpha=1)
es.fit(x_train,y_train)

ElasticNet(alpha=1, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [73]:
es.score(x_train,y_train)

0.6861018474345026