In [1]:
import numpy as np
import pandas as pd

In [2]:
air=pd.read_csv(r"C:\ksr\data science\DS_batch1\datasets\AirPassengers.csv")

In [3]:
air.shape

(80, 9)

In [4]:
air.head()

,Week_num,Passengers,Promotion_Budget,Service_Quality_Score,Holiday_week,Delayed_Cancelled_flight_ind,Inter_metro_flight_ratio,Bad_Weather_Ind,Technical_issues_ind
0,1,37824,517356,4.00000,NO,NO,0.70,YES,YES
1,2,43936,646086,2.67466,NO,YES,0.80,YES,YES
2,3,42896,638330,3.29473,NO,NO,0.90,NO,NO
3,4,35792,506492,3.85684,NO,NO,0.40,NO,NO
4,5,38624,609658,3.90757,NO,NO,0.87,NO,YES

In [18]:
def numerical_summary(data):
    data1=data.drop_duplicates(keep="first")
    sumry_stat=data1.describe().T
    sumry_stat["5%"]=data1.quantile(0.05)
    sumry_stat["missing%"]=(len(data1)-sumry_stat["count"])/len(data1)*100
    sumry_stat1=sumry_stat[["count","min","5%","25%","50%","mean","75%","max","std","missing%"]]
    return sumry_stat1

In [19]:
numerical_summary(data=air)

,count,min,5%,25%,50%,mean,75%,max,std,missing%
Week_num,80.0,1.00000,4.950000,20.75000,40.50000,40.500000,60.250000,80.0,23.237900,0.0
Passengers,80.0,28700.00000,32259.300000,36424.00000,43144.00000,44745.025000,48864.000000,81228.0,11267.155215,0.0
Promotion_Budget,80.0,365680.00000,416261.300000,517891.50000,597919.00000,625422.350000,688593.500000,1108254.0,156514.349317,0.0
Service_Quality_Score,80.0,0.85536,0.977124,1.93158,3.10812,2.781168,3.608883,4.0,1.000204,0.0
Inter_metro_flight_ratio,80.0,0.38000,0.400000,0.61000,0.72000,0.693000,0.802500,0.9,0.158045,0.0

In [51]:
def char_summary_stat(data):
    data1=data.drop_duplicates(keep="first")
    col=list(data1.columns)
    for i in col:
        if data1[i].dtypes=="object":
            abc=pd.DataFrame((data1[i].value_counts())/len(data1)*100).reset_index()
            abc.rename(columns={abc.columns[0]:i,
                                abc.columns[1]:abc.columns[1]+"_percent"}
                               ,inplace=True)
        abc.to_csv("C:\\ksr\\data science\\DS_batch1\\Practical_dataset\\sumary_stat.csv")
            print("frequnecy for a varaible",i)
            print(abc)
            print("\n")

IndentationError: unexpected indent (<ipython-input-51-ad186916756f>, line 11)

In [52]:
char_summary_stat(data=air)

frequnecy for a varaible Holiday_week
  Holiday_week  Holiday_week_percent
0           NO                 76.25
1          YES                 23.75


frequnecy for a varaible Delayed_Cancelled_flight_ind
  Delayed_Cancelled_flight_ind  Delayed_Cancelled_flight_ind_percent
0                          YES                                 51.25
1                           NO                                 48.75


frequnecy for a varaible Bad_Weather_Ind
  Bad_Weather_Ind  Bad_Weather_Ind_percent
0             YES                     50.0
1              NO                     50.0


frequnecy for a varaible Technical_issues_ind
  Technical_issues_ind  Technical_issues_ind_percent
0                   NO                          52.5
1                  YES                          47.5