# Objective:

Would like to predict median house price in califorina region

We are going to perform below steps:

1. Data collection and curating
2. Data processing
3. Train and test datasets
4. variable reduction techniques
5. Modle Building 
6. model validation
7. Deploy the model

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import statsmodels.formula.api as sms

In [3]:
house=pd.read_csv(r"C:\ksr\data science\DS_batch1\Practical_dataset\houseing_price_prediction\housing.csv")

In [4]:
house.shape # dimensions of a data

(20640, 10)

In [5]:
house.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity', 'median_house_value'],
      dtype='object')

In [6]:
house.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200

In [7]:
house.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
20635,-121.09,39.48,25,1665,374.0,845,330,1.5603,INLAND,78100
20636,-121.21,39.49,18,697,150.0,356,114,2.5568,INLAND,77100
20637,-121.22,39.43,17,2254,485.0,1007,433,1.7000,INLAND,92300
20638,-121.32,39.43,18,1860,409.0,741,349,1.8672,INLAND,84700
20639,-121.24,39.37,16,2785,616.0,1387,530,2.3886,INLAND,89400

In [9]:
house["population"].min()

3

In [10]:
house["population"].max()

35682

In [13]:
house1=house[house["population"]<600]

In [14]:
house1.shape

(2853, 10)

In [15]:
house1["population"].max()

599

In [16]:
house1["population"].min()

3

In [17]:
import researchpy as rp

In [18]:
rp.summary_cat(house1["ocean_proximity"])

          Variable     Outcome  Count  Percent
0  ocean_proximity      INLAND   1174    41.15
1                    <1H OCEAN    901    31.58
2                     NEAR BAY    397    13.92
3                   NEAR OCEAN    379    13.28
4                       ISLAND      2     0.07

In [19]:
rp.summary_cat(house["ocean_proximity"])

          Variable     Outcome  Count  Percent
0  ocean_proximity   <1H OCEAN   9136    44.26
1                       INLAND   6551    31.74
2                   NEAR OCEAN   2658    12.88
3                     NEAR BAY   2290    11.09
4                       ISLAND      5     0.02

In [20]:
house2=house[house["population"]>3000]

In [21]:
house2.shape

(1357, 10)

In [31]:
import os

In [32]:
os.getcwd()

'C:\\Users\\Koti\\Documents\\Data_Science\\DS_FEB_2020\\codes'

In [33]:
path=r"C:\Users\Koti\Documents\Data_Science\DS_FEB_2020\codes\standard_code\userdefined_functions"

In [34]:
os.chdir(path)

In [56]:
from summary_stats import summary_stat
from categorical_summary import char_summary
from missing_value import miss_identify

In [36]:
summary_stat(data=house)

,count,min,5%,25%,50%,mean,75%,90%,95%,99.7%,max,std
longitude,20640.0,-124.3500,-122.47000,-121.8000,-118.4900,-119.569704,-118.01000,-117.25000,-117.080000,-115.520000,-114.3100,2.003532
latitude,20640.0,32.5400,32.82000,33.9300,34.2600,35.631861,37.71000,38.48000,38.960000,41.211660,41.9500,2.135952
housing_median_age,20640.0,1.0000,8.00000,18.0000,29.0000,28.639486,37.00000,46.00000,52.000000,52.000000,52.0000,12.585558
total_rooms,20640.0,2.0000,620.95000,1447.7500,2127.0000,2635.763081,3148.00000,4651.50000,6213.200000,16887.071000,39320.0000,2181.615252
total_bedrooms,20433.0,1.0000,137.00000,296.0000,435.0000,537.870553,647.00000,965.00000,1275.400000,3078.704000,6445.0000,421.385070
population,20640.0,3.0000,348.00000,787.0000,1166.0000,1425.476744,1725.00000,2566.00000,3288.000000,7924.395000,35682.0000,1132.462122
households,20640.0,1.0000,125.00000,280.0000,409.0000,499.539680,605.00000,890.00000,1162.000000,2826.249000,6082.0000,382.329753
median_income,20640.0,0.4999,1.60057,2.5634,3.5348,3.870671,4.74325,6.15921,7.300305,13.580228,15.0001,1.899822
median_house_value,20640.0,14999.0000,66200.00000,119600.0000,179700.0000,206855.816909,264725.00000,376600.00000,489810.000000,500001.000000,500001.0000,115395.615874

# Summary stas insights:

1. average median age of houses are 29, it seems data looks correct and no extreme values

2. it seems there are extreme values are presented in total rooms variable

3. it seems there are some extreme values in total bed rooms

In [57]:

char_summary(house)

          Variable     Outcome  Count  Percent
0  ocean_proximity   <1H OCEAN   9136    44.26
1                       INLAND   6551    31.74
2                   NEAR OCEAN   2658    12.88
3                     NEAR BAY   2290    11.09
4                       ISLAND      5     0.02

In [58]:
miss_identify(house)

longitude             0.000000
latitude              0.000000
housing_median_age    0.000000
total_rooms           0.000000
total_bedrooms        1.002907
population            0.000000
households            0.000000
median_income         0.000000
ocean_proximity       0.000000
median_house_value    0.000000
dtype: float64

In [66]:
from sklearn.impute import SimpleImputer
sm=SimpleImputer(strategy="most_frequent")
house4=pd.DataFrame(sm.fit_transform(house),columns=house.columns)
house4.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280,565,259,3.8462,NEAR BAY,342200

In [95]:
from Missing_impute import missing_impute

In [96]:
house4=missing_impute(house)

NameError: name 'pd' is not defined